{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    作业详情
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1 class="col-12 mt-4 mb-4">{{ homework.title }}</h1>
                <div class="col-12 alert alert-success">说明：
                    {% if homework.instrument %}
                        {{ homework.instrument }}
                    {% else %}
                        无
                    {% endif %}
{#                    {% if user == homework.teacher %}#}
                        · <a href="{% url 'homework:homework_update' homework.id %}">修改作业说明</a>
                        · <a href="#" onclick="confirm_delete('{% url 'homework:homework_delete' homework.id %}')">删除文章</a>
{#                    {% endif %}#}
                </div>

                <div class="row mt-2 col-12">
                    {% if big_questions %}
                        <form method="post" action="{% url 'homework:submit_homework' homework.id %}" enctype="multipart/form-data" class="col-12">
                            {% csrf_token %}
                    {% endif %}
                    {% for big_question in big_questions %}
                        {% if big_question.kind == 'SingleChoice' %}
                            {% for small_question in small_questions %}
                                {% if small_question.big_question == big_question %}
                                    <div class="form-group col-12">
                                        · <a href="#" onclick="confirm_delete('{% url 'homework:delete_big_question' big_question.id %}')">删除此题</a>
                                        · <a href="{% url 'homework:update_choice_question' big_question.id %}">修改此题</a>
                                        <label for="{{ small_question.id }}" class="col-2">答案：</label>
                                        <input type="text" class="form-control col-3" id="{{ small_question.id }}" name="{{ small_question.id }}">
                                    </div>
                                    <h5 style="color: black;" class="col-12">
                                        {{ big_question.number }}.{{ small_question.stem }}
                                    </h5>
                                    {% for choice in choices %}
                                        {% if choice.small_question == small_question %}
                                            <div class="col-12">
                                                <p style="color: gray;">
                                                    ·{{ choice.choice_stem }}.{{ choice.choice_text }}
                                                </p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            <hr style="width: 100%;"/>
                        {% elif big_question.kind == 'ReadingComprehension' or big_question.kind == 'Cloze' %}
                            <div class="col-12">
                                · <a href="#" onclick="confirm_delete('{% url 'homework:delete_big_question' big_question.id %}')">删除此题</a>
                                · <a href="{% url 'homework:update_big_question' big_question.id %}">修改文章</a>
                                <p style="color: black;">
                                    {{ big_question.essay }}
                                </p>
                            </div>
                            <hr style="width: 100%;"/>
                            {% for small_question in small_questions %}
                                {% if small_question.big_question == big_question %}
                                    <div class="col-2"></div>
                                    <div class="col-10">
                                        <div class="form-group col-12">
                                            · <a href="#" onclick="confirm_delete('{% url 'homework:delete_small_question' small_question.id %}')">删除此小题</a>
                                            · <a href="{% url 'homework:update_small_question' small_question.id %}">修改此小题</a>
                                            <label for="{{ small_question.id }}" class="col-2">答案：</label>
                                            <input type="text" class="form-control col-3" id="{{ small_question.id }}" name="{{ small_question.id }}">
                                        </div>
                                        <h5 style="color: black;" class="col-12">
                                            {{ big_question.number|add:small_question.number_offset }}.{{ small_question.stem }}
                                        </h5>
                                        {% for choice in choices %}
                                            {% if choice.small_question == small_question %}
                                                <div class="col-12">
                                                    <p style="color: gray;">
                                                        ·{{ choice.choice_stem }}.{{ choice.choice_text }}
                                                    </p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <hr style="width: 100%;"/>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% if big_questions %}
                            <button type="submit" class="btn btn-primary">完成</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-3">
{#                {% if user == homework.teacher %}#}
                    · <a href="{% url 'homework:create_choice_question' homework.id %}">添加选择题</a>
                    · <a href="{% url 'homework:create_reading_comprehension_question' homework.id %}">添加阅读理解题</a>
                    · <a href="{% url 'homework:create_cloze_question' homework.id %}">添加完形填空题</a>
{#                {% endif %}#}
            </div>
        </div>
    </div>

    <script>
        function confirm_delete(delete_url) {
            layer.open({
                title: "确认删除",
                content: "此操作不可逆，请谨慎操作",
                yes: function(index, layero) {
                    $.ajax({
                        type: "POST",
                        url: delete_url,
                        data: {
                            "csrfmiddlewaretoken": document.getElementsByName('csrfmiddlewaretoken')[0].value
                        },
                        dataType: "JSON",
                        success: function(result) {
                            if(result.code === 'Yes'){
                                window.location.href=result.new_href;
                            } else{
                                alert(result.message);
                            }
                        }
                    })
                    layer.close(index);
                }
            })
        }
    

    </script>
{% endblock content %}