{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    阅卷
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h5>学生姓名：{{ student.username }}</h5>
                <h5>作业题目：{{ homework.title }}</h5>
                <div class="tab-content">
                    <form method="post" action="." enctype="multipart/form-data" class="col-12">
                        {% csrf_token %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>题号</th>
                                <th>学生答案</th>
                                <th>参考答案</th>
                                <th>得分</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for answer in answers %}
                                <tr>
                                    <td>{{ answer.small_question.big_question.number|add:answer.small_question.number_offset }}</td>
                                    <td>{{ answer.answer_text }}</td>
                                    <td>{{ answer.small_question.reference_answer }}</td>
                                    <td>
                                        <input type="text" class="form-control col-3" id="{{ answer.small_question.id }}" name="{{ answer.small_question.id }}">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        <button type="submit" class="btn btn-primary">完成</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
{% endblock content %}