{% extends "base.html" %} {% load staticfiles %}
{% block title %} 添加选择题 {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <br>
            <form method="post" action="." enctype="multipart/form-data" id="upload_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="number_offset">题目偏移量</label>
                    <input type="text" class="form-control" id="number_offset" name="number_offset" value="{{ small_question.number_offset }}">
                </div>

                <div class="form-group">
                    <label for="score">分值</label>
                    <input type="text" class="form-control" id="score" name="score" value="{{ small_question.score }}">
                </div>

                <div class="form-group">
                    <label for="reference_answer">参考答案</label>
                    <input type="text" class="form-control" id="reference_answer" name="reference_answer" value="{{ small_question.reference_answer }}">
                </div>

                <div class="form-group">
                    <label for="stem">题干</label>
                    <div class="button btn btn-primary" onclick="add_choice()">增加选项</div>
                    <div class="button btn btn-primary" onclick="delete_choice()">减少选项</div>
                    <input type="text" class="form-control" id="stem" name="stem" value="{{ small_question.stem }}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" style="display:none;"
                           id="choice_number" name="choice_number"
                           {% if choices %}
                               value="{{ choices.count }}"
                           {% else %}
                               value="1"
                           {% endif %}
                    >
                </div>

                {% if choices %}
                    {% for choice in choices %}
                        <div class="form-group">
                            <label for="{{ choice.choice_stem }}">选项{{ choice.choice_stem }}</label>
                            <input type="text" class="form-control" id="{{ choice.choice_stem }}" name="{{ choice.choice_stem }}" value="{{ choice.choice_text }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="form-group">
                        <label for="A">选项A</label>
                        <input type="text" class="form-control" id="A" name="A">
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-primary" style="display:none;" id="submit">完成</button>
            </form>
        </div>
        <div class="col-3">
            <div type="button" class="btn btn-primary" onclick="submit()">完成</div>
        </div>
    </div>
</div>
<script>
    {% if choices %}
        var choice_number = {{ choices.count }};
    {% else %}
        var choice_number = 1;
    {% endif %}

    function add_choice() {
        var div = document.createElement('div');
        var form=document.getElementById('upload_form');
        form.appendChild(div);
        div.className = "form-group";
        var label = document.createElement('label');
        label.setAttribute("for", String.fromCharCode("A".charCodeAt() + choice_number));
        label.innerHTML = "选项" + String.fromCharCode("A".charCodeAt() + choice_number);
        div.appendChild(label);
        var input = document.createElement('input');
        input.setAttribute("type", "text");
        input.className = "form-control";
        input.setAttribute("id", String.fromCharCode("A".charCodeAt() + choice_number));
        input.setAttribute("name", String.fromCharCode("A".charCodeAt() + choice_number));
        div.appendChild(input);
        choice_number = choice_number + 1;
        document.getElementById('choice_number').setAttribute("value", choice_number);
    }

    function delete_choice() {
        if(choice_number > 1){
            var input = document.getElementById(String.fromCharCode("A".charCodeAt() + choice_number - 1));
            input.parentElement.remove();
            choice_number = choice_number -1;
            document.getElementById('choice_number').setAttribute("value", choice_number);
        } else{
            alert("选择题需要至少有一个选项");
        }

    }
    
    function submit() {
        $('#submit').click();
    }
    
</script>
{% endblock content %}