{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load account %}

{% block title %}重置密码{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <h1>{% trans "密码重置邮件已发送" %}</h1>
            {% if user.is_authenticated %}
                {% user_display user as user_display %}
                <p><strong>{% trans "请注意" %}：</strong> {% blocktrans %}您已经使用用户 {{ user_display }} 登陆。{% endblocktrans %}</p>
            {% endif %}
            <p>{% blocktrans %}密码重置邮件已发送。请及时查收。{% endblocktrans %}</p>
        </div>
    </div>
</div>
    

{% endblock %}
