{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Error {% endblock title %}

{% block content %}
<div class="container">
    <div class="row errorpage">
        <div class="col align-self-center error-img text-center">
            <div class="errorimg">
                <img class="img-fluid" src="{% static 'image/404.png'%}">
            </div>
            <div class="errormsg">
                <h3>{{ error_message }}</h3>
                <a href="javascript:history.go(-1);">返回地球</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}